section.blog
	.wrap
		.article.article--even
			.article__desc
				h2.article__title(data-number="01") Surf Training
				.article__text.desc-text
					p By better understanding the various aspects of surfing, By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
				a(href="#").read-more Read More
			.article__preview
				img(src="./assets/img/img-3.jpg", alt="Surf Training")
				.article__preview-desc
					.article__preview-desc-content Surf Camps

