.camp
	.camp__img(style="background-image: url(assets/img/img-5.jpg)")
	.wrap.flex-end
		.camp__desc
			.camp__label Our Camp
			.camp__address
				|CA 91932, USA #[br]
				|Imperial Beach #[br]
				|560 Silver Strand Blvd
			a(href="#").read-more Get in Touch
