section.club-description
	.wrap
		.club-description-wrapper.relative
			.club-description__img
				img(src="assets/img/img-1.jpg", alt="Picture")
			.club-description-video
				img(src="assets/img/img-2.jpg", alt="Video")
				.club-description-video__control
					+icon('control-play')
			.club-description__text
				p By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
			.club-description__link
				a(href="#").read-more Read More