.footer
	.wrap.flex-column-center
		.footer-logo-wrapper
			a(href="#").logo
				+icon('logo')
		.footer-nav-wrapper
			ul.navigation
				li.navigation__item
					a.navigation__link(href="#") Stories
				li.navigation__item
					a.navigation__link(href="#") Events
				li.navigation__item
					a.navigation__link(href="#") Places
				li.navigation__item
					a.navigation__link(href="#") Boards
		.social
			.social__item
				+icon('tumblr')
			.social__item
				+icon('twitter')
			.social__item
				+icon('vimeo')