.header.relative
	.nav-logo-wrapper
		a(href="#").logo
			+icon('logo')
	nav
		ul.navigation.navigation__header
			li.navigation__item
				a.navigation__link(href="#") Stories
			li.navigation__item
				a.navigation__link(href="#") Events
			li.navigation__item
				a.navigation__link(href="#") Places
			li.navigation__item
				a.navigation__link(href="#") Boards
	.site-desc
		.site-desc__content First Surfing Magazine