.board
	.board__img-holder
		img(src="./assets/img/board-1.png", alt="Surfing board").board__img
	.board-desc
		.board__cat Funboards
		.board__title Chilli Rare Bird
		.board-buy
			.board-buy__price $890
			.board-buy__link Buy
.board
	.board__img-holder
		img(src="./assets/img/board-2.png", alt="Surfing board").board__img
	.board-desc
		.board__cat Surfboards
		.board__title Emery NEM XF
		.board-buy
			.board-buy__price $950
			.board-buy__link Buy
.board
	.board__img-holder
		img(src="./assets/img/board-3.png", alt="Surfing board").board__img
	.board-desc
		.board__cat Funboards
		.board__title Agency GROM
		.board-buy
			.board-buy__price $670
			.board-buy__link Buy