section.shop
	.wrap
		h2.title
			span.subtitle Shop
			|Surfboards
	.wrap.shop-slider-wrapper
		.shop-slider-special-holder
			#shopSlider.owl-carousel
				include _shop-item-1
				include _shop-item-2
				include _shop-item-3
	.wrap
		.shopSlider-controls
			#shopSliderLeft.shopSlider-left
				+icon('boards-left')
			#shopSliderRight.shopSlider-right
				+icon('boards-right')
	.wrap
		.shop-link-wrapper
			a.read-more Show All