.slide-wrapper
	#headerSlider.owl-carousel
		.slide-item.wrap
			.slide-item__desc
				h2.slide-item__heading
					span Your
					| Beautiful Escape
				.slide-item__text
					p One of the greatest things about the sport of surfing is that you need only three things: your body a surfboard, and a wave.
			.slide-item__img.slide-item__img--bg-1
		.slide-item.wrap
			.slide-item__desc
				h2.slide-item__heading
					span Your
					| Beautiful Escape
				.slide-item__text
					p One of the greatest things about the sport of surfing is that you need only three things: your body a surfboard, and a wave.
			.slide-item__img.slide-item__img--bg-1
		.slide-item.wrap
			.slide-item__desc
				h2.slide-item__heading
					span Your
					| Beautiful Escape
				.slide-item__text
					p One of the greatest things about the sport of surfing is that you need only three things: your body a surfboard, and a wave.
			.slide-item__img.slide-item__img--bg-1
		.slide-item.wrap
			.slide-item__desc
				h2.slide-item__heading
					span Your
					| Beautiful Escape
				.slide-item__text
					p One of the greatest things about the sport of surfing is that you need only three things: your body a surfboard, and a wave.
			.slide-item__img.slide-item__img--bg-1
		.slide-item.wrap
			.slide-item__desc
				h2.slide-item__heading
					span Your
					| Beautiful Escape
				.slide-item__text
					p One of the greatest things about the sport of surfing is that you need only three things: your body a surfboard, and a wave.
			.slide-item__img.slide-item__img--bg-1
.wrap.relative
	.slide-controls
		a(href="#!")#headerSliderLeft.slide-controls__left
			+icon('header-left-control')
		.slide-controls-number
			span.slide-controls-number__active -
			span.slide-controls-number__from /
			span.slide-controls-number__total -
		a(href="#!")#headerSliderRight.slide-controls__right
			+icon('header-right-control')
	.social.social--vertical
		.social__item
			+icon('tumblr')
		.social__item
			+icon('twitter')
		.social__item
			+icon('vimeo')
