section.subscribe
	.subscribe__wrapper
		h2.title Join the Club
		.title-desc By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
		form(action="").subscribe-form
			input(type="text" placeholder="Your E-mail").subscribe__input
			input(type="submit").subscribe__submit