extends ../layout/main

block variables
	- var title = 'Surfing Club';
	- var description = 'Surfing Club';
	- var pageClass = 'index-page';

block content
	include ../includes/modules/_header
	//- include ../includes/modules/_quote
	//- include ../includes/modules/_club-desc
	//- include ../includes/modules/_shop
	//- include ../includes/modules/_article
	//- include ../includes/modules/_article-1
	//- include ../includes/modules/_subscribe
	//- include ../includes/modules/_camp
	//- include ../includes/modules/_footer
